.content {
  position: relative;
  margin-left: 336px;
  padding: 0 16px;
  flex-grow: 1;

  @include desktop-small {
    margin-left: 56px;
  }

  @include tablet {
    margin-left: 0;
  }

  &__header {
    position: fixed;
    z-index: 10;
    top: 48px;
    right: 0;
    width: calc(100% - 336px);
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background-color: var(--color-light);
    box-shadow: none;

    @include desktop-small {
      width: calc(100% - 56px);
    }

    @include tablet {
      width: 100%;
      top: 56px;
      border-top: var(--border);
    }

    @include mobile {
      &-button-close {
        padding: 6px;
      }
    }

    &-scrolled {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
    }

    &-title {
      color: var(--color-dark);
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2;

      @include tablet {
        font-family: var(--font-family-base);
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4;
        lettespacing: 0px;
        text-transform: uppercase;
      }
    }

    &-actions {
      flex-grow: 1;
      display: flex;
      align-items: center;
      gap: 4px;

      @include tablet {
        justify-content: flex-end;
      }
    }
  }

  &__body {
    position: relative;
    top: 65px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 16px;

    @include tablet {
      top: 73px;
    }

    &-modal {
      padding: 16px;
      padding-bottom: 16px;
      top: 0;
    }

    &-title {
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.3;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include tablet {
        font-size: 20px;
        line-height: 1.2;
      }
    }
  }

  &__modal {
    top: 16px;
    max-width: 800px;
    padding: 0;
    border: none;
    background-color: var(--color-light);

    @include tablet {
      top: 0;
      width: 100%;
      margin: 0;

      &:-internal-dialog-in-top-layer {
        max-height: 100%;
      }
    }

    &-header {
      position: relative;
      top: 0;
      width: 100%;

      @include mobile {
        border-bottom: var(--border);
      }
    }
  }
}
