.header {
  padding: 12px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__bar {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__search {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background: url('./../../images/icons/search.svg') center/contain no-repeat;
    }
    &-input {
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
