.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 48px;
  padding: 7px 0 6px;
  border-bottom: var(--border);
  background-color: var(--color-light);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bar {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__search {
    position: relative;
    width: 296px;

    &::after {
      content: '';
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      width: 19px;
      height: 19px;
      background: url('./../../images/icons/search.svg') center/contain no-repeat;
    }

    &-input {
      width: 100%;
      padding-right: 30px;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 8px;

    &-avatar {
      border-radius: 50%;
    }
  }
}
