.input {
  all: unset;

  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
  background-color: var(--color-light-alt);
  padding: 6px 8px;

  &::placeholder {
    color: var(--color-gray-alt);
  }
}
