.input {
  all: unset;

  box-sizing: border-box;

  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-light-alt);
  padding: 6px 8px;

  &::placeholder {
    color: var(--color-gray-alt);
  }

  @include hover {
    background-color: var(--color-light);
  }
}
