.sidebar {
  position: fixed;
  top: 48px;
  left: 0;
  width: 336px;
  height: 100%;
  display: flex;
  background-color: var(--color-light);

  @include desktop-small {
    width: 56px;
  }

  @include tablet {
    display: none;
  }

  &__categories-list {
    height: 100%;
    width: 56px;
    border-right: var(--border);
  }

  &__categories-item {
    padding: 16px;
    display: flex;
  }

  &__categories-button {
    @include reset-button;

    @include hover {
      opacity: 0.7;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    border-right: var(--border);

    @include desktop-small {
      display: none;
    }

    &-header {
      display: flex;
      gap: 8px;
      padding: 15px;
      padding-right: 14px;
      padding-bottom: 16px;
      border-bottom: var(--border);
    }

    &-search {
      position: relative;

      &-input {
        width: 208px;
      }

      &::after {
        content: '';
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 19px;
        height: 19px;
        background: url('./../../images/icons/filter.svg') center/contain no-repeat;
      }
    }

    &-menu {
      flex-grow: 1;
      background-color: var(--color-light-alt);

      &-item {
        padding: 10px 16px;
      }

      &-link {
        position: relative;
        display: inline-block;
        min-height: 20px;
        padding-left: 24px;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 19px;
          height: 19px;
          background: url('./../../images/icons/arrow-right.svg') center/contain no-repeat;
        }

        @include hover {
          opacity: 0.7;
        }
      }
    }
  }
}
