:root {
  --color-dark: #2e3238;
  --color-light: #ffffff;
  --color-light-alt: #fcfcfd;
  --color-gray: #d5d8dd;
  --color-blue: #0078cf;
  --color-blue-alt: #99d5ff;
  --color-blue-light: #e5f4ff;
  --color-red: #b21f00;

  --border-radius: 4px;
}
