:root {
  --color-dark: #2e3238;
  --color-light: #ffffff;
  --color-light-alt: #fcfcfd;
  --color-gray: #d5d8dd;
  --color-gray-alt: #abb1ba;
  --color-blue: #0078cf;
  --color-blue-alt: #99d5ff;
  --color-blue-light: #e5f4ff;
  --color-red: #b21f00;

  --border-radius: 4px;

  --container-width: 1888px;
  --container-padding-x: 16px;

  --font-family-base: 'Open Sans', sans-serif;
}
